<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http:mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">
	<select id="one" resultType="loginvo" parameterType="String">
		select * from bakerymember where userid = #{userid}
	</select>
</mapper>