@CHARSET "UTF-8";

* {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.title {
	width: 650px;
}

.num{
	width: 60px;
}
.writer{
	width: 130px;
}

table {
	width: 1000px;
}

td{
	border:1px silver solid;
}

.tag {
	color:white;
	background-color: #757575;
}